/* Línea horizontal para separar los formularios reservados para administradores */
hr .divideForAdmin {
    width:90%;
    margin: 30 auto;
}

/* Pie de página pegado al fondo de la ventana */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Cuerpo de página con un margen para que el pie de página no tape el contenido */
.main {
    min-height: 100%;
    margin-bottom: 100px;
}

/* Contenedor de texto y elementos varios (alternativa al container de bootstrap) */
.widerContainer {
    margin: 10px;
}

.widerContainer p {
    text-indent: 1em;
}

/* Clases específicas para mostrar los caracteres restantes en input's y/o textarea's */
p .hidden {
    display: none;
}

p .alert {
    color: red;
}

/* Contenedores para el panel de administración de usuarios */
.userContainer {
    width:75%;
    text-align: center;
    margin: 10px auto;
}

.userListContainer {
    display: grid;
    margin: 5px;
    grid-template-areas: "name user-admin-remove"
}

.userListContainer .alignLeft {
    grid-area: "name";
    text-align: left;
}

.userListContainer .alignRight {
    text-align: right;
    grid-area: "user-admin-remove"
}

/* Botones */
.centerButton {
    text-align: center;
    margin: 10px auto;
}

.buttonContainer {
    margin: 10px;
}

/* Imágenes de los instrumentos y categorías */

.imageDiv {
    margin: 10px auto;
    object-fit: contain;
}

/* Subdivisión para los instrumentos (tienen múltiples imágenes) */
.imageDiv .eachImage {
    display: inline-block;
}

/* Fondo y otros */
body {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.imgBanner {
    height: 200px;
    object-fit: cover;
    object-position: 0 50%;
    width: 100%;
}